
.site-header {
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
	z-index: 99;

	width: 100%;

	> * {
		max-width: none !important;
	}

	%headerRow {
		width: 100%;
		max-width: none;

		display: flex;
		justify-content: center;
	}

	&__row-w {
		@include mainCol;
		display: flex;
		align-items: center;
		justify-content: space-between;

		transition: 0s;

		@include bigMobile {
			padding: 0 6px;
		}
	}

	&__top-row {
		@extend %headerRow;

		height: 32px;

		@include fontCaption();
		color: $color-new-grey;

		background-color: white;
	}

	&__logo {
		max-width: 160px;
		padding: 0 16px;
	}

	&__top-nav {
		display: flex;
		gap: 24px;

		margin-left: auto;
		margin-right: 0 !important;
		padding: 0 4px;

		@include smallScreen {
			gap: 16px;
		}
	}

	&__main-row {
		@extend %headerRow;
		min-height: 50px;

		background-color: $color-new-grey;
	}

	&__menu-block {
		position: relative;
		display: flex;
		align-items: center;
		min-width: 375px;
		min-height: 58px;

		margin-right: 4px;

		@include bigMobile() {
			min-width: 270px;
		}

		@include mobile {
			min-width: auto;
			padding: 8px 0;
		}
	}

	@at-root {
		.contact-list {
			display: flex;
			align-items: center;

			margin: auto;
			padding: 0 4px;

			@include bigMobile {
				display: none;
			}

			&__item {
				display: flex;
				align-items: center;
				min-width: 130px;

				cursor: pointer;

				&:hover {
					color: $color-main;
				}
			}

			&__item-img {
				width: 20px;
				object-fit: contain;
			}

			&__item-title {
				margin-left: 10px;
			}
		}

		.search-block {
			position: relative;

			width: 100%;
			max-width: 700px;
			min-width: 200px;

			display: flex;
			align-items: center;

			margin: 0 4px;
			padding: 10px;

			color: $color-new-grey;
			background-color: white;
			border-radius: 6px;

			@include smallScreen {
				padding: 8px 6px;
			}

			@include bigMobile {
				min-width: 160px;
			}

			&__img {
				cursor: pointer;
				object-fit: contain;

				@include bigMobile {
					width: 16px;
				}
			}

			&__input {
				width: 100%;
				padding-right: 52px;
				margin-left: 10px;

				line-height: 1;

				@include bigMobile {
					margin-left: 6px;
					padding-right: 0;
				}
			}

			&__btn {
				position: absolute;
				top: 0;
				right: 0;

				height: 100%;
				display: flex;
				align-items: center;

				padding: 0 16px;

				color: white;
				background-color: $color-main;
				border-radius: 6px;

				cursor: pointer;

				@include smallScreen {
					padding: 0 8px;
				}

				@include bigMobile {
					display: none;
				}

				&:hover {
					background-color: darken($color-main, 5%);
				}
			}
		}

		.lang-block {
			display: flex;
			align-items: center;
			justify-content: center;

			/*margin: 0 auto;*/
			margin: 0 auto 0 0;
			padding: 0 4px;

			color: white;

			@include mobile {
				margin: 0;
			}

			&__item {
				position: relative;
				padding: 0 8px;

				@include fontCaption();
				cursor: pointer;

				&.selected,
				&.active,
				&:hover {
					color: $color-main-light;
				}

				& + & {

					&:before {
						content: '';
						position: absolute;
						left: 0;
						top: 50%;

						height: 24px;
						width: 1px;
						background-color: white;

						transform: translateY(-50%);
					}
				}
			}
		}

		.user-nav {
			display: flex;
			align-items: center;
			gap: 32px;

			margin-left: auto;
			margin-right: 0 !important;

			padding: 0 4px;

			color: white;

			@include bigMobile {
				gap: 12px;
			}

			&__item {
				position: relative;
				min-width: 64px;

				display: flex;
				flex-direction: column;
				align-items: center;

				@include anim($anim-small-time);

				&:hover {
					color: $color-main-light;
				}

				@include bigMobile {
					min-width: 32px;
				}
			}

			&__item-img {
				width: 18px;
				object-fit: contain;
			}

			&__item-title {
				width: max-content;
				@include fontSmall();

				@include bigMobile {
					display: none;
				}
			}

			&__item-counter {
				position: absolute;
				top: -5%;
				right: 0;
				transform: translateY(-50%);

				width: 15px;
				height: 15px;
				display: inline-flex;
				justify-content: center;
				align-items: center;

				color: white;
				font-size: 14px;
				line-height: 0;

				background-color: red;
				border-radius: 50%;

				@include smallestScreen {
					width: 12px;
					height: 13px;

					font-size: 11px;
				}
			}
		}
	}


	.page-nav-wrapper {
		width: 100%;
		height: 34px;
		display: flex;
		align-items: center;
		justify-content: center;

		border-top: 1px solid #8A8A8A;
		background-color: $color-new-grey;

		border-bottom-left-radius: 6px;
		border-bottom-right-radius: 6px;
	}

	.page-nav {
		@include mainCol;
	}

	//Li, потому что легаси вёрстка у крошек, не меняй
	.page-nav li {
		position: relative;
		@include fontSmall;
		color: white;
		overflow: hidden;
		text-overflow: ellipsis;

		> * {
			width: 100%;
			white-space: nowrap;
		}

		& + li {
			padding-left: 24px;

			&::before {
				content: '❯';
				position: absolute;
				left: 12px;
				top: 50%;

				color: $color-main;
				transform: translate(-50%, -50%);
			}
		}
	}
}
